node_modules
.next
.git
.github
.env
.env.*
Dockerfile
.dockerignore
npm-debug.log
*.md
docs
tsconfig.tsbuildinfo
pnpm-lock.yaml.207478179
apphosting.yaml
.modified
.idx
LICENSE
temp_new.txt
update-docs.js
genkit.config.ts
public/search-data.json
